.index {
    background-color: #e862cb; 

    background-image: url(background.jpeg);
    h1 {font-size: 5em; }
   .title h1{
    
    background-color: #CA4246;
    
     background-image: linear-gradient(
          45deg,
          #ff6f00 16.666%, 
          #ff6f00 16.666%, 
          #ff9779 33.333%, 
          #ffc291 33.333%, 
          #ff8e37 50%, 
          #ffa25b 50%, 
          #ffa662 66.666%, 
          #ff8a2f 66.666%, 
          #ff6f00 83.333%, 
          #a94b03 83.333%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
          font-family: "Marko One", Georgia, serif;}
    
}
.blogentries{
    background-color: #ffd8f6; 
    h1{font-size: 5em;}
    body{    background-color: #e862cb; 
    }
    * {
        box-sizing: border-box;
      }
      
      body {
        font-family: "Marko One", Georgia, serif;
        padding: 20px;
        background: #f1f1f1;
      }
      
      /* Header/Blog Title */
      .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: white;

        h2{
    
            background-color: #CA4246;
            
             background-image: linear-gradient(
                  45deg,
                  #ff6f00 16.666%, 
                  #ff6f00 16.666%, 
                  #ff9779 33.333%, 
                  #ffc291 33.333%, 
                  #ff8e37 50%, 
                  #ffa25b 50%, 
                  #ffa662 66.666%, 
                  #ff8a2f 66.666%, 
                  #ff6f00 83.333%, 
                  #a94b03 83.333%);
            
            background-size: 100%;
            background-repeat: repeat;
    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
                  font-family: "Marko One", Georgia, serif;}
            
        }
      }

      .leftcolumn {
        float: left;
        width: 75%;
      }

      .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
      }

      .fakeimg {
        background-color: #ffccee;
        width: 100%;
        padding: 20px;
      }
      .card {
        background-color: rgb(255, 163, 237);
        padding: 30px;
        margin-top: 50px;

        
      }
      .placeholder img {
        max-width: 100%;
        height: auto;
      }

  
      
  
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .CreatorInfo {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
      }
      
      @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {
          width: 100%;
          padding: 0;
        }
      }

.about{
    h1{
    font-size: 5em;

    }
    background-color: #340329; 
p{
    color: #fe13c4;
    font-size: 2em;   

}   

}
.email{
    background-color: #ffcbf8; 

}
.about{
  background-color: #ff9cf5; 
 
}
img {
  max-width: 100%;
  height: auto;
}
.selection {font-size: 2em; 
    font-family: "Marko One", Georgia, serif;}
body {
    margin: 0 10%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  h1 {
    font-size: 3em; 
    color: #fe13c4;
    font-family: "Marko One", Georgia, serif;}

  
  h2 {
    font-size: 2.5em; 
    color: #5c0a48;
    font-family: "Marko One", Georgia, serif;}

  
  h3 {
    font-size: 2em;
    color: #7f0f63;
    font-family: "Marko One", Georgia, serif;}

  h4 {
    font-size: 1.5em;
    color: #802e6c;
    font-family: "Marko One", Georgia, serif;}

  p {
    font-size: 1em; 
    color: #ffffff;
    font-family: "Marko One", Georgia, serif;}

  
  section {
    margin-bottom: 30px;
  }
  .selection {
    font-size: 2em;
    color: #000000;
  }
  .blogEntry {
    color: #000000;
  }

 
  ul {
    text-align: left;
    margin-left: 20%; 
    font-family: "Marko One", Georgia, serif;}

  li {
    font-size: 1.2em; 
    font-family: "Marko One", Georgia, serif;}

  table{
      margin-left: auto;
    margin-right: auto;
    td, th {
        border: 1px solid #CCC;
    }


        border: 1px solid black;

    
  }
      form {
          background-color: lightskyblue;
          color: black; 
          padding: 20px; 
          font-family: "Marko One", Georgia, serif;}

      
          form, form * {
              color: black;
          }
  td, th { border: 1px solid #CCC; }
  table { border: 1px solid black; }
